<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="reftech" connectionString="Server=10.65.0.9;Database=rtsdb1;User ID=RTSAdmin;Password=simpleHA" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <appSettings>
        <add key="RtsReportPath" value="D:\RTSSystem\RTSReport\rtsreport.xls" />
        <add key="RegenPath" value="D:\rts\results\regen"/>

        <add key="EmailAddress" value="scott.h@hooksassoc.com"/>
        <add key="EmailServer" value="10.65.0.9"/>

        <add key="LocationTag" value="Haier Evansville"/>
        
    </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
